body{
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    overflow-x: hidden;
}
.header{
    position:fixed;
    z-index: 3;
    background-color: white;
    width:100%;
    top:0px;
}
.left{
    position: relative;
    right:27px;

}
.right{
    position: relative;
    left:700px;
    bottom:24px;
    top: -48px;
}
li{
    color: #ababab;
    display: block;
    text-decoration: none;
    padding: 0 0.6em;
    


}
.body{
    position: relative;
    top:125px;
    left: 260px;

}
.body img{
    width: 38px;
    height: 36px;
    left: 218px;
    top: -18px;
}
.right ul{
    list-style: none;
    font-weight: 400;
    line-height: 2em;
    display: inline-flex;
}

img{

    align-items: flex-start;
    zoom: 1;
        max-width: 1015px;
        margin: 0 auto;
        position: relative;
        width: 349px;
        height: 33px;

}
#baraa{
text-align: end;
display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    width: 100vw;
    background-color: white;
    padding: 10px;
}
.right>ul li:hover>a {
    color: #17cad3;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    line-height: 2em;
}

#index{
    width: 76px;
    height: 31px;
    
}
.para{
color: #00b39b;
font-family: Work Sans,Arial,sans-serif;
text-align: left;
    font-weight: 300;
    letter-spacing: -.3px;
    margin: 0.67em 0;
    font-size: 1.5em;
    margin-block-start: 2.83em;
    margin-block-end: 2.83em;
margin-left: -155px;
margin-top: -15px;
font-size: 38px;
}
li a{
    text-decoration: none;
color: rgba(165, 165, 165, 0.822);
}
.text{
    color: #747474;
font-family:  Roboto, sans-serif;

}
.text2{
    color: #747474;
    font-family:  Roboto, sans-serif;
    margin-left: 38px;
}
.patext{

    display: flex;
    align-content: flex-end;
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}
.elements{
    width: 102%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
}

.elements > div[class^='element'] {
    margin: 10px;
    border-radius: 9px;
  
}
.elements .element1{
    width:31%;
    height:345px;
    background-color: #00ccb1;
}
.elements .element2{
    width:31%;
    height:345px;
    background-color: #3d83df;
}
.elements .element3{
    width:31%;
    height:345px;
    background-color: #1b2734;
}
.element1 img{

    left: -129px;
    top: 35px;
    height: 26px;
}
.element2 img{
    left: -129px;
    top: 35px;
    height: 26px;
}
.element3 img{

    left: -129px;
    top: 35px;
    height: 26px;
} 
.elements img{
    display: inline;
}
.elements h1 {
      color: white;
      font-family: Work Sans,Arial,sans-serif;
}
.element1 h1{
    margin-left: 27px;
    margin-top: 40px;
    font-size: 24px;
}
.element2 h1{
    margin-left: 27px;
    margin-top: 40px;
    font-size: 24px;
}
.element3 h1{

    margin-left: 27px;
    margin-top: 40px;
    font-size: 24px;
}
.elements p{
color: white;
margin-left: 20px;
font-size: 23px;
font-family: Work Sans,Arial,sans-serif;
}
.image1{

    width: 120px;
    height: 46px;
}
.image2{
    width: 120px;
    height: 46px;
}
.image3{
    width: 120px;
    height: 46px;
}
.image4{
    width: 120px;
    height: 46px;
}
.paragraphe{
color: #00ccb1;
 font-family: Work Sans,Arial,sans-serif;
    
}

div[class^='element']:hover{
    opacity:0.9;
  
}
.paragraphe{
color: #00ccb1;
font-size: 27px;
margin-top: 125px;
}
.first{
    font-family: Work Sans,Arial,sans-serif;
    font-size: 35px;
    zoom: 1;
    max-width: 1028px;
    padding: 208px 20px;
    margin: 0px auto;
    position: relative;
grid-column: 1/2;
}

.first h5{
    margin-top: -137px;


}
.first P{

    COLOR: #747474;
    font-size: 14px;
    margin-top: -22px;
}
.grid{
 background-color: white;
 font-family: 'Roboto', sans-serif;
 
 

}  
.grid img{
width: 30px;
left: 110px;
}
.grid p{
    color: rgb(143, 143, 143);
    font-size:smaller ;
    margin-left: 20px;
}
.grid h1{
    font-family: Work Sans,Arial,sans-serif;
    text-align: -webkit-center;
}
.continaire{
    background-color: #dcf7f6;
 display:grid;
grid-template-columns: 50% 25% 25% ;
grid-template-rows: repeat(20,5%) ;
width: 100%;
color: #00b39b;
}
#grid1{
    grid-column: 2/3;
grid-row: 3/8;
margin: 10px;
}
#grid2{
    grid-column: 3/4;
    grid-row: 3/8;

}
#grid3{
    grid-column: 2/2;
    grid-row: 12/17;
    
}
#grid4{

    grid-column: 3/6;
    grid-row: 11/17;
    margin: 10px;
}